* {
    margin: 0;
    padding: 0;
}

/* Fuentes */

@font-face {
    font-family: NeueMachina-Light;
    src: url(../assets/fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: NeueMachina-Regular;
    src: url(../assets/fonts/NeueMachina-Regular.otf);
}

@font-face {
    font-family: NeueMachina-Ultrabold;
    src: url(../assets/fonts/NeueMachina-Ultrabold.otf);
}

/* Estilos para contenedores principales */

#grilla {
    height: 100vh;
    display: grid;
    background-image: url(../assets/images/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    font-family: NeueMachina-Ultrabold;
}

.navbar {
    background-color: transparent !important;
}

div #navbarNavAltMarkup {
    justify-content: end;
}

.navbar .container-fluid{
    justify-content: end !important;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/* Estilos para el menú */

/* ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
    margin: 2rem 2rem 2rem 2rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
} */

/* Estilos para logo, imágenes e íconos */

#logo {
    width: 6rem;
    height: 6rem;
}

.imagen {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.iconos {
    width: auto;
    height: auto;
}

/* Estilos para títulos, parágrafos y elementos con texto */

#tituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: NeueMachina-Ultrabold;
    color: #0e0e52;
}

.tarjetaInformacion h3 a {
    text-decoration: underline;
    color: #F1416A;
}

p {
    width: 300px;
}

h3 {
    font-family: NeueMachina-Light;
    color: #0126b3;
}

/* Estilos referentes a secciones de contenido */

#informacionPrincipal,
.informacionPrincipal--iconos {
    display: flex;
    flex-flow: row wrap;
    font-family: NeueMachina-Regular;
    color: black;
}

#informacionPrincipal {
    justify-content: space-around;
}

.informacionPrincipal--iconos {
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.tarjetaInformacion,
.tarjetaIconos {
    justify-items: center;
    align-content: start;
    display: grid;
}

.tarjetaInformacion {
    padding: 2px, 0px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

#dosColumnas {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Estilos para el área del formulario */

#areaFormulario,
#imagenSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#areaFormulario {
    font-family: NeueMachina-Regular;
}

#areaFormulario p {
    margin-top: 4px;
    margin-bottom: 4px;
}

#formulario {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2rem 2rem auto;
    margin-top: 5px;
    margin-bottom: 1rem;
}

#botonCentrado {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 28px;
    border-radius: 5px;
    font-family: NeueMachina-UltraBold;
}

form label,
form input,
textarea {
    align-self: flex-start;
    border-radius: 5px;
}

form input {
    height: 20.8px;
    font-family: NeueMachina-Regular;
}

.tarjetaIconos p {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    mix-blend-mode: difference;
    width: 400px;
}

.tarjetaIconos {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

.redesSociales {
    mix-blend-mode: difference;
}

@media screen and (min-width:320px) and (max-width:1200px) {
    #grilla {
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto 40px;
        grid-template-areas: "header nav" "main main" "footer footer";
    }

    .tarjetaIconos,
    .iconos,
    .tarjetaIconos p {
        max-width: 310px;
    }

    .iconos {
        width: 30vw;
    }

    .tarjetaIconos p {
        width: 80vw;
    }

}

@media screen and (min-width:1200px) {
    #grilla {
        grid-template-columns: 50% 50%;
        grid-template-rows: 5rem auto 40px;
        grid-template-areas: "header nav" "main main" "footer footer";
    }
}