@font-face {
  font-family: NeueMachina-Light;
  src: url(../assets/fonts/NeueMachina-Light.otf);
}
@font-face {
  font-family: NeueMachina-Regular;
  src: url(../assets/fonts/NeueMachina-Regular.otf);
}
@font-face {
  font-family: NeueMachina-Ultrabold;
  src: url(../assets/fonts/NeueMachina-Ultrabold.otf);
}
@font-face {
  font-family: NeueMachina-Light;
  src: url(../assets/fonts/NeueMachina-Light.otf);
}
@font-face {
  font-family: NeueMachina-Regular;
  src: url(../assets/fonts/NeueMachina-Regular.otf);
}
@font-face {
  font-family: NeueMachina-Ultrabold;
  src: url(../assets/fonts/NeueMachina-Ultrabold.otf);
}
@keyframes resaltar {
  50% {
    transform: scale(0.8);
  }
}
@keyframes agitar {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

#grilla {
  height: 100vh;
  display: grid;
  background-image: url(../assets/images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  font-family: NeueMachina-Ultrabold;
}
nav .nav-link:hover {
  font-size: 16px;
  color: #f7c444;
  animation: resaltar 0.3s ease-in-out 1;
  transform: scale(1.2);
}

.navbar {
  background-color: transparent !important;
}
.navbar .container-fluid {
  justify-content: end !important;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

div #navbarNavAltMarkup.navbar-collapse.collapse.show,
div #navbarNavAltMarkup.navbar-collapse.collapsing {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}
div #navbarNavAltMarkup.navbar-collapse.collapse.show a.nav-link:hover,
div #navbarNavAltMarkup.navbar-collapse.collapsing a.nav-link:hover {
  font-size: 16px;
  color: #f7c444;
  animation: resaltar 0.3s ease-in-out 1;
  transform: scale(1.2);
}

.container-fluid {
  z-index: 2;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#logo {
  width: 6rem;
  height: 6rem;
}
#logo:hover {
  margin-left: 15px;
  transform: scale(1.5);
}

.iconos {
  width: auto;
  height: auto;
}

#tituloPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: NeueMachina-Ultrabold;
  color: #0e0e52;
}

h3 {
  font-family: NeueMachina-Light;
}

#informacionPrincipal, .informacionPrincipal--iconos {
  display: flex;
  flex-flow: row wrap;
  font-family: NeueMachina-Regular;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacionPrincipal--iconos {
  color: black;
  justify-content: center;
}

.tarjetaIconos,
.tarjetaInformacion,
.tarjetaInformacion--ancha,
.tarjetaInformacion--sla {
  justify-items: center;
  align-content: start;
  display: grid;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}
.tarjetaIconos p,
.tarjetaInformacion p,
.tarjetaInformacion--ancha p,
.tarjetaInformacion--sla p {
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 4px;
  padding-right: 4px;
  width: 400px;
}
.tarjetaIconos:hover:not(.tarjetaInformacion):not(.tarjetaInformacion--ancha):not(.tarjetaInformacion--sla),
.tarjetaInformacion:hover:not(.tarjetaInformacion):not(.tarjetaInformacion--ancha):not(.tarjetaInformacion--sla),
.tarjetaInformacion--ancha:hover:not(.tarjetaInformacion):not(.tarjetaInformacion--ancha):not(.tarjetaInformacion--sla),
.tarjetaInformacion--sla:hover:not(.tarjetaInformacion):not(.tarjetaInformacion--ancha):not(.tarjetaInformacion--sla) {
  transform: scale(1.2, 1.2);
  backdrop-filter: blur(5px);
  z-index: 4;
}
.tarjetaIconos:hover,
.tarjetaInformacion:hover,
.tarjetaInformacion--ancha:hover,
.tarjetaInformacion--sla:hover {
  transform: scale(1.1, 1.1);
  background-color: transparent;
  border: none;
  box-shadow: none;
  backdrop-filter: none;
  z-index: 4;
}

.tarjetaIconos:hover {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.tarjetaInformacion, .tarjetaInformacion--ancha, .tarjetaInformacion--sla {
  width: 350px;
}
.tarjetaInformacion a, .tarjetaInformacion--ancha a, .tarjetaInformacion--sla a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.tarjetaInformacion a .imagen, .tarjetaInformacion--ancha a .imagen, .tarjetaInformacion--sla a .imagen, .tarjetaInformacion a .imagen--impresoras, .tarjetaInformacion--ancha a .imagen--impresoras, .tarjetaInformacion--sla a .imagen--impresoras {
  width: 350px;
  object-fit: contain;
}
.tarjetaInformacion a h3, .tarjetaInformacion--ancha a h3, .tarjetaInformacion--sla a h3 {
  display: inherit;
  text-align: center;
  font-family: NeueMachina-Ultrabold;
}
.tarjetaInformacion:hover, .tarjetaInformacion--ancha:hover, .tarjetaInformacion--sla:hover {
  text-decoration: none;
}
.tarjetaInformacion:hover h3, .tarjetaInformacion--ancha:hover h3, .tarjetaInformacion--sla:hover h3 {
  color: #f7c444;
  font-family: NeueMachina-Ultrabold;
}
.tarjetaInformacion p, .tarjetaInformacion--ancha p, .tarjetaInformacion--sla p {
  width: 350px;
}
.tarjetaInformacion .imagen, .tarjetaInformacion--ancha .imagen, .tarjetaInformacion--sla .imagen, .tarjetaInformacion .imagen--impresoras, .tarjetaInformacion--ancha .imagen--impresoras, .tarjetaInformacion--sla .imagen--impresoras {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: inherit;
  height: auto;
  object-fit: contain;
}
.tarjetaInformacion .imagen--impresoras, .tarjetaInformacion--ancha .imagen--impresoras, .tarjetaInformacion--sla .imagen--impresoras {
  aspect-ratio: 1.3;
}

.tarjetaInformacion--sla {
  width: 614px;
}
.tarjetaInformacion--sla p {
  width: 614px;
}

.tarjetaInformacion--ancha {
  width: 450px;
}
.tarjetaInformacion--ancha p {
  width: 450px;
}

#dosColumnas {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#areaFormulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: NeueMachina-Regular;
}
#areaFormulario p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#imagenSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#formulario {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 2rem 2rem auto;
  margin-top: 5px;
  margin-bottom: 1rem;
}

#botonCentrado {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 28px;
  border-radius: 5px;
  font-family: NeueMachina-Ultrabold;
}

form label {
  align-self: flex-start;
  border-radius: 5px;
}
form input {
  align-self: flex-start;
  border-radius: 5px;
  height: 20.8px;
  font-family: NeueMachina-Regular;
}

textarea {
  align-self: flex-start;
  border-radius: 5px;
}

.redesSociales:hover {
  animation: agitar 0.55s none infinite;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar-toggler {
  height: fit-content;
  width: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  #grilla {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto 40px;
    grid-template-areas: "header nav" "main main" "footer footer";
  }
  .tarjetaIconos, .tarjetaInformacion, .tarjetaInformacion--sla, .tarjetaInformacion--ancha {
    max-width: 310px;
  }
  .tarjetaIconos p, .tarjetaInformacion p, .tarjetaInformacion--sla p, .tarjetaInformacion--ancha p {
    max-width: 310px;
    width: 80vw;
  }
  .iconos {
    max-width: 310px;
    width: 30vw;
  }
  .imagen, .tarjetaInformacion .imagen--impresoras, .tarjetaInformacion--sla .imagen--impresoras, .tarjetaInformacion--ancha .imagen--impresoras {
    max-width: 310px;
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  #grilla {
    grid-template-columns: 50% 50%;
    grid-template-rows: 5rem auto 40px;
    grid-template-areas: "header nav" "main main" "footer footer";
  }
}

/*# sourceMappingURL=styles.css.map */
